.product {
 display: flex;
 justify-content: space-between;
 margin: 0 5%;
 border-bottom: 1px solid lightgray;
 padding: 10px 0;
  align-items: center;
}

.number {
 width: 20px;
}

.image {
  width: 80px;
}

.title {
  width: 120px;
}

.price {
  width: 60px;
}

.button {
  width: 30px;
  height: 30px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.button:active {
  padding: 1px;
}

.quantity {
  width: 120px;
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
  height: 40px;
  padding: 4px;
  border-radius: 20px;
  align-items: center;
}

.total {
  width: 70px;
}